<ion-view view-title="Inserir">


  <ion-content class="">

      <div class="item item-input-inset tarefa-form">
          <label class="item item-input item-floating-label item-input-wrapper label">
              <span class="input-label">Tarefa</span>
              <input type="text" id="descricao" placeholder="Tarefa">
          </label>
          <a href="#" ng-click="salvar()" class="  item-icon-right">
              <i class="icon ion-plus-round"></i>
          </a>
      </div>

      <label class="item item-input item-floating-label">
          <span class="input-label">Data</span>
          <input type="date" id="data" placeholder="Data">
      </label>



  </ion-content>
</ion-view>
